body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #005A9C; /* Dark blue */
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

nav {
    background-color: #0073E6; /* Slightly lighter blue */
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    float: none;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover, nav ul li a:focus {
    background-color: #003366; /* Darker blue */
    color: #ffffff;
}

.logo {
    float: left;
    margin-right: 20px;
}

/* responsive design */
@media screen and (max-width: 600px) {
    nav ul {
        flex-direction: column;
    }
}
